  <tr>
    <th scope="col"><%= song.id %></th>
    <td><%= song.track %></td>
    <td><%= song.title %></td>
    <td><%= song.album %></td>
    <td><%= song.artist%></td>
    <td><%= song.path %></td>
  </tr>
