<h1>Songs#index (by curtiscu)</h1>
<p>Find me in app/views/songs/index.html.erb</p>

<p>Showing a list of songs here.</p>

<p>TOTAL SONGS IN DB: <%= @table_count %> </p>
<p>SHOWING PER PAGE: <%= SongsController::RECORDS_PER_PAGE %> </p>
<!-- next count wrong, usually page+1! -->
<p>(Page <%= @page_to_render %> of <%= @table_count/SongsController::RECORDS_PER_PAGE %>)</p>
<p>
  <%= link_to "<<" , :controller => "songs", :action => "index", :pg => @page_to_render-1 %>
  <%= link_to ">>" , :controller => "songs", :action => "index", :pg => @page_to_render+1 %>
</p>
<table border=1 summary="Page <%= @page_to_render %> of <%= @table_count/SongsController::RECORDS_PER_PAGE %>" >
  <caption>Songs in the DB</caption>
  <thead>
    <tr>
      <th id="id" scope="col">ID#</th>
      <th id="tr" scope="col">TRACK#</th>
      <th id="ti" scope="col">TITLE</th>
      <th id="al" scope="col">ALBUM</th>
      <th id="ar" scope="col">ARTIST</th>
      <th id="pa" scope="col">PATH</th>
    </tr>
  </thead>
  <tfoot>
    <tr>
      <td colspan="6">Table Footer, so this is.</td>
    </tr>
  </tfoot>
  <tbody>
<%= render :partial => "song_info", :collection => @songs, :as => :song %>
  </tbody>
</table>